<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>index</title>
  </head>
  <body>
    <form id="inputform" action='/postresult' method='post'>
      {% csrf_token %}
      <p>Name:<input type='text' name='name'>
      <p>Dojo Location:
        <select name='dloc'>
          <option value="Seattle">Seattle</option>
          <option value="San Jose">San Jose</option>
          <option value="Dallas">Dallas</option>
        </select>
      <p>Favorite Language:
        <select name='favlang'>
          <option value="JavaScript">JavaScript</option>
          <option value="Python">Python</option>
          <option value="HTML">HTML</option>
        </select></p>
      <p>Comments (optional):</p>
      <p><input type='text' name='comments'></p>
      <input type='submit' name='submit' value='Submit'>
    </form>
  </body>
</html>
